@{
    ViewBag.Title = "Home Page";
}

<div>Role hien tai: @Session["Role"]</div>
<div>ADMIN: username: admin123 - password: admin123</div>
<div>Customer: username: admin123 - password: admin123</div>
<div>Phai dang nhap moi vao duoc About</div>
<div>Phai la admin moi thay loai san pham, khach hang,...</div>