@{
    ViewBag.Title = "Home Page";
}

<div>Role hien tai: @Session["Role"]</div>
<div>ADMIN: username: admin123 - password: admin123</div>
<div>Customer: username: user0001 - password: user0001</div>