
:root {
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
}

.icon {
	height: 20px;
	width: 20px;
}

.m-row {
	display: flex;
	align-items: center;
}

.m-container {
	width: 70%;
	margin: 0 auto;
	padding: 40px 0;
}

.m-header {
	font-size: 2em;
	letter-spacing: 0.1em;
}

.img-wrapper {
	height: 100%;
	background-color: grey;
	overflow: hidden;
}

.img-wrapper img {
	height: 100%;
	width: 100%;
}

.dialog-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0, .2);
	display: flex;
	justify-content: center;
	align-items: center
}

.dialog-content {
	background-color: white;
	border-radius: 20px;
	padding: 20px;
}

.hidden {
	display: none;
}


.slider-container {
	position: relative;
	overflow: hidden;
	height: var(--slide-height);
}

.slider-container .slider {
	position: absolute;
	height: 100%;
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.slider-container .slider .slider-item {
	position: relative;
	height: 100%;
	width: var(--slide-width);
	padding: 20px;
}

.slider-container .slider .slider-item .item-title {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
}

.slider-container:hover .move-slide {
	display: flex;
}

.slider-container .move-slide {
	display: none;
	background-color: white;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	z-index: 2;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.slider-container .move-slide svg {
	height: 50%;
	width: 50%;
}

.slider-container .next-slide {
	right: 10px;
}

.slider-container .prev-slide {
	left: 10px;
}

.m-nav {
	width: 100%;
	padding: 20px 40px;
	border: 2px solid grey;
}

.m-nav .left {
	display: flex;
	width: 35%;
}
	.m-nav .left .item {
		margin-right: 20px;
	}

	.m-nav .left .select select {
		border: none;
		outline: none;
	}

.m-nav .middle {
	display: flex;
	justify-content: center;
	width: 30%;
	font-size: 2em;
}

.m-nav .middle .yellow {
	font-weight: bold;
	position: relative;
}

.m-nav .middle .yellow::after {
	content: '';
	background-color: yellow;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50%;
	width: 100%;
	z-index: -1;
}

.m-nav .right {
	width: 35%;
}

	.m-nav .right form {
		display: flex;
		justify-content: flex-end;
	}

		.m-nav .right form button {
			border: none;
			background: none;
		}

		.m-nav .right form #search {
			margin-left: 20px;
			border: none;
			border-bottom: 1px solid grey;
			width: 60%;
		}

			.m-nav .right form #search:focus {
				outline: none;
			}

.footer {
	height: 20vh;
	border-top: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}
